<div fxLayout="row" class="users">
  <div fxFlex="25" class="side-nav">
    <mat-toolbar class="search mat-small-toolbar">
      <span>USERS</span>
      <span fxFlex></span>
      <mat-form-field floatPlaceholder="never">
        <input matInput placeholder="Search User" #search (keyup)="searchUser(search.value, $event)">
        <mat-icon matPrefix>search</mat-icon>
        <mat-icon matSuffix *ngIf="searching" class="spinner">
          <mat-spinner class="small-spinner"></mat-spinner>
        </mat-icon>
        <mat-icon matSuffix *ngIf="!searching && search.value.length > 2" (click)="search.value = '';searchUser(search.value)">close</mat-icon>
      </mat-form-field>
      <button mat-mini-fab color="primary">
        <mat-icon aria-label="add user">add</mat-icon>
      </button>
    </mat-toolbar>
    <div class="list">
      <mat-list>
        <mat-list-item *ngFor="let user of usersList" [routerLink]="['/users', user.id]" routerLinkActive="active">
          <mat-icon mat-list-icon>
            <img class="mat-avatar" [src]="user.image ? user.image : 'public/dashboard/assets/images/avatar.png'" [alt]="user.name" />
          </mat-icon>
          <h4 mat-line>{{user.name}}</h4>
          <p mat-line> {{user.email}} </p>
        </mat-list-item>
        <mat-list-item *ngIf="noUsers && !fetchingData">No User Found</mat-list-item>
      </mat-list>
      <mat-spinner class="medium-spinner" *ngIf="fetchingData"></mat-spinner>
    </div>
  </div>
  <div fxFlex="85">
    <router-outlet></router-outlet>
  </div>
</div>
