<mat-toolbar color="primary">
    <span>Dashboard</span>
    <span class="spacer"></span>
    <span [innerHtml]="userDetails.name" *ngIf="!userDetails.profile_image_url"></span>
    <img class="mat-avatar" [src]="userDetails.profile_image_url" alt="user" *ngIf="userDetails.profile_image_url" [title]="userDetails.name">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
<!--<mat-sidenav-container>
    <mat-sidenav #sidenav class="example-sidenav">
        
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>-->