@mixin viewHeight($height){
	height: calc(100vh - #{$height});
}

.mat-card{
    .mat-card-header{
        .mat-card-title{}
    }
    &.permissions{
        .parent-permission{}
        .child-permission{padding-left: 25px;padding-bottom: 15px;
            &.first{padding-top: 15px;}
        }
    }
}
.details{@include viewHeight(110px);overflow-y: auto;
    &.user-footer{@include viewHeight((177px))}
    .card{max-height: inherit !important;padding: 25px 0;}
}

.mat-form-field{
    width: 100%;
}
.footer{position: fixed;bottom: 0;left: 25%;right: 0;border-top: 1px solid #ccc;background: #eee;padding: 15px;}