/*/deep/ .image-upload{width: 220px; height: 220px;position: relative;border: 1px solid #ccc;  
    .img-ul-file-upload{height: 100%;padding: 0 !important;
        .img-ul-button{width: 100%;height: 100%;padding: 0;background: url('../../assets/images/avatar.png');
            background-size: contain;box-shadow: none;}
        .img-ul-drag-box-msg{display: none;}
    }
    .img-ul-container{width: 100%;height: 100%;position: absolute;top: 0;padding: 0 !important;z-index: -1;}
}*/